@import "common";

$color-panel-background-black: lighten($common-color-black, 7.5%);
$car-item-size: 125px;

* {
    --nav-height: 60px;
}

.elcs_panel {
    width:            400px;
    height:           100%;
    overflow-x:       hidden;

    // &::-webkit-scrollbar {
    //     background: $common-color-good;
    //     width:      0.5rem;
    // }

    // &::-webkit-scrollbar-thumb {
    //     background: $color-panel-background-black;
    // }

    // &::-webkit-scrollbar-button {
    //     display: none;
    // }

    .panel_title_container {
        position:         sticky;
        top:              0;
        text-align:       center;
        padding:          1rem;
        background-color: $common-color-good;
        color:            $common-color-white;
        z-index:          1;
    
        & > h3 {
            font-weight: 400;
        }
    }

    .panel_content {
        padding: 0.5rem 1rem;
    }

    hr {
        width:      50%;
        margin:     1rem auto;
        border:     solid $common-color-white 1px;
        background: $common-color-white;
    }
}

nav#elcs_nav {
    position:         fixed;
    top:              0;
    left:             0;
    right:            0;
    display:          flex;
    align-items:      center;
    justify-content:  space-between;
    width:            100%;
    height:           var(--nav-height);
    background-color: $common-color-black;
    color:            $common-color-white;
    font-size:        calc(var(--nav-height) / 2);
    box-shadow:       0 0 0.75rem rgba($common-color-black, 0.5);
    z-index:          10;

    #elcs_nav_title {
        padding: 0.5rem 2rem;
    }

    #elcs_nav_logout_container {
        height:           100%;
        display:          flex;
        align-items:      center;
        justify-content:  right;
        text-align:       right;
        font-size:        0.85em;
        padding:          0.5rem 1rem;
        background-color: $common-color-normal;

        .tooltip {
            left:  unset   !important;
            left:  initial !important;
            right: 0       !important;
        }

        & > span:first {
            margin-right: 0.5rem;
        }
    }
}

#elcs_body {
    display:        flex;
    flex-direction: row;
    margin-top:     var(--nav-height);
    height:         calc(100% - var(--nav-height));

    #panel_company {
        color:            $common-color-white;
        background-color: $color-panel-background-black;

        #company_search_container {
            display:     flex;
            align-items: center;
            padding:     0.5rem;
            font-size:   1.33rem;

            i {
                font-size:    1.66rem;
                margin-right: 0.75rem;
            }

            input {
                width: 100%;
            }
        }

        #company_item_container {
            ul {
                padding:    0;
                margin:     0;
                list-style: none;

                .company_item {
                    cursor:     pointer;
                    border-radius: 0.5rem;
                    margin:     0.5rem 0;
                    padding:    1rem;
                    transition: background-color 0.33s, color 0.33s;
    
                    .name {
                        font-size:        1.5rem;
                        font-weight:      500;
                        transform:        translateY(50%) scale(1.125);
                        transform-origin: left center;
                        transition:       transform 0.33s;
                    }
    
                    .location {
                        pointer-events: none;
                        font-size:      1.1rem;
                        transform:      translateY(-50%);
                        opacity:        0;
                        transition:     transform 0.33s, opacity 0.33s;
                    }
    
                    &:hover, &.active {
                        background-color: $common-color-white;
                        color:            $common-color-black;

                        .name, .location {
                            pointer-events: initial;
                            transform:      translateY(0) scale(1);
                            opacity:        1;
                        }
                    }
                }
            }
        }
    }

    #panels_manage {
        display:        flex;
        flex-direction: row;
        flex-grow:      1;

        #panel_cars {
            flex-grow: 1;
            padding:   0.5rem;

            h1 {
                text-align: center;
            }

            hr {
                border: solid lighten($common-color-black, 50%) 1px;
            }

            & > div {
                display:         flex;
                flex-direction:  row;
                flex-wrap:       wrap;
                justify-content: center;
                align-items:     flex-start;
                align-items:     start;
            }

            .car_item {
                position:   relative;
                padding:    0.5rem;
                margin:     0.33rem;
                width:      $car-item-size;
                min-height: $car-item-size;
                overflow:   hidden;
                border:     solid 1px rgba(0, 0, 0, 0.1);
                background: white;
                box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.075);
                transition: box-shadow 0.33s;

                word-break:      break-all;
                -webkit-hyphens: auto;
                -moz-hyphens:    auto;
                -ms-hyphens:     auto;
                hyphens:         auto;

                &:hover {
                    box-shadow: 0 0.125rem 0.85rem rgba(0, 0, 0, 0.09);

                    .car_short_info_container {
                        transform: scale(0.5);
                        opacity: 0;
                    }

                    .car_manage_container {
                        transform: translateY(0);
                    }
                }

                .car_short_info_container {
                    transform:        scale(1);
                    transform-origin: center;
                    opacity:          1;
                    transition:       transform 0.33s cubic-bezier(0, 0, 0, 1), opacity 0.33s cubic-bezier(0, 0, 0, 1);

                    .name {
                        font-size: 1.25rem;
                        font-weight: 400;
                        margin-bottom: 0.5rem;
                    }
    
                    .company, .location {
                        font-size: 0.95rem;
                    }
                }

                .car_manage_container {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    transform: translateY(125%);
                    transition: transform 0.33s cubic-bezier(0, 0, 0, 1);
                }
            }
        }
    }
}

@media (max-width: $mobile-width-threshold) {
    * {
        --nav-height: 50px;
    }

    nav#elcs_nav {
        #elcs_nav_title {
            padding: 0.5rem;
        }

        #elcs_nav_logout_container > span {
            display: none;
        }
    }
}